#accueil .navbar{
    background-color: #030C40!important;
}
#accueil .navbar .nav-link{
    color: #ffffff;
}

#accueil .header{
    text-align: center!important;
}

.navbar-toggler{
    background: white;
    border: none;
    text-align: right;
}