@font-face {font-family: Matterhorn;src: url(../fonts/Matterhorn.ttf);}
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

section{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

@media screen and (max-width: 930px) {
    section{
        width: 100%;
    }
  }

h1, h2, h3, h4, h5, h6, li{
    font-family: 'Matterhorn', sans-serif;
}

h2{
    font-size: 40px;
}

.blue-back{
    color: #ffffff;
}

.asterix{
    font-size: 12px;
}

.container{
    padding: 10px;
    width: 960px !important;
    margin: auto;
}

/* DÉBUT : BANNER */
#banner{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/attraction.jpg");
    background-size: cover;
    background-position: 50% 20%;
    height: 560px;
    border-radius: 0% 0% 50% 50% / 0% 0% 20% 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#banner h1{
    color: #ffffff;
    font-weight: bold;
    margin-top: 150px;
    text-align: center;
}

#banner #nav-banner{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 960px;
    padding: 10px;
}

#banner #nav-banner .row{
    display: flex;
    justify-content: center;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

#banner #nav-banner .items{
    text-align: center;
    border-radius: 10px;
    height: 80px;
}

#banner #nav-banner .items:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

#banner #nav-banner a{
    text-decoration: none;
    color: #212529;
    display: flex;
}

#banner #nav-banner .items i{
    font-size: 30px;
}

#banner #nav-banner .items p{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
}

/* FIN : BANNER */

/* DÉBUT : Actualités */

#actualites h2{
    text-align: center;
}

#actualites .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#actualites .container .card{
    width: 300px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: box-shadow 0.5s;
}

#actualites .container .card .card-footer{
    background: #fff;
    border: none;
    padding-bottom: 20px;
}

#actualites .container .card:hover{
    box-shadow: #006EF540 -5px 5px, #006EF530 -10px 10px, #006EF520 -15px 15px, #006EF510 -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

#actualites .container .card p{
    font-size: 14px;
    max-height: 150px;
    min-height: 150px;
}

#actualites .container .card a{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 150px;
    border: 2px solid #006EF5;
    color: #006EF5;
    transition: color, background-color 1s;
}

#actualites .container .card a:hover{
    color: #ffffff;
    background-color: #006EF5;
}
/* FIN : Actualités */

/* DEBUT: RESERVATION */

section#reservations{
    background: #030C40;
}

section#reservations .icon-calendar{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #ffffff;
    margin-left: 20px;
    text-align: center;
}

section#reservations .icon-calendar i{
    background: rgb(175,81,163);
    background: linear-gradient(90deg, rgba(175,81,163,1) 0%, rgba(128,67,161,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    padding: 5px;
    line-height: 30px;
}

section#reservations .icon-wrapper p{
    width: 250px;
    height: 40px;
    font-size: 13px;
    margin-left: 10px;
    line-height: 14px;
    color: #ffffff;
}

section#reservations #calendar{
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    min-height: 500px;
    position: relative;
}

section#reservations #filter{
    margin-right: 10px;
}

section#reservations #filter label{
    font-weight: bold;
}

section#reservations #filter #budget{
    margin-top: 10px;
}

section#reservations #filter #sejour,
section#reservations #filter #budget
{
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    min-height: 100px;
}

section#reservations #calendar #calendar-header img{
    margin-right: 8px;
    min-width: 32px;
}

section#reservations #calendar #calendar-header #mounth-title i{
    font-size: 30px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

section#reservations #calendar #calendar-body{
    height: 370px;
}

section#reservations #calendar #calendar-body #mounth-left,
section#reservations #calendar #calendar-body #mounth-right
{
    width: 50%;
    height: 60px;
    margin-top: 20px;
}

section#reservations #calendar #calendar-body .days{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

section#reservations #calendar #calendar-body .days-title{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(32, 34, 73, 0.5);
}

section#reservations #calendar #calendar-body .days:hover{
    animation-name: bounce;
    animation-duration: 0.2s;
}

@keyframes bounce {
    0%   {
        padding: 5px;
    }
    50%  {
        padding-top: 10px;
    }
    100% {
        padding: 5px;
    }
  }

section#reservations #calendar #calendar-body .days p{
    font-size: 10px;
    padding: 0;
    margin: 0;
}

section#reservations #calendar #calendar-body .days p.price{
    font-size: 12px;
    font-weight: bold;
}

section#reservations #calendar #estimation{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}
section#reservations #calendar #estimation .price_estimation{
    font-size: 18px;
    font-weight: bold;
}

section#reservations #calendar .hotel_choice{
    font-size: 18px;
    font-weight: bold;
}

section#reservations #calendar #next-calendar-btn i{
    font-size: 20px;
    font-weight: bold;
}

/* FIN: RESERVATION */

/* DEBUT: RESPONSIVE */
@media screen and (max-width: 930px) {

    /* DEBUT: RESPONSIVE Actualités */
    #actualites #container{
        flex-direction: column;
        align-items: center;
    }
    #actualites #container .card{
        width: auto;
        margin-right: 20vw;
        margin-left: 20vw;
        margin-bottom: 2em;
    }
    #actualites #container .card p{
        max-height: 7rem;
        min-height: 7rem;
        overflow: hidden;
    }
    #actualites #container .card a{
        width: 80%;
    }

    /* FIN: RESPONSIVE Actualités */

    /* DEBUT: RESPONSIVE BANNER */

    #banner .container{
        border-radius: 10px;
        width: 80vw;
    }

    #banner .container .col{
        text-align: center;
        padding-top: 10px;
        border-radius: 10px;
    }

    #banner .container a{
        min-width: 30%;
        width: auto;
        padding-right: 5px;
        padding-left: 5px;
    }

    /* FIN: RESPONSIVE BANNER */
  }
/* FIN: RESPONSIVE */
